/**
 * Main CSS file for INCIL Admin theme.
 */
 
/**
 * General styles
 */
p {
  margin-bottom: .5em;
}

/**
 * Form goodness
 */
input.form-autocomplete, 
input.form-text, 
textarea.form-textarea, 
select.form-select {
  border-color: #CCCCCC;
}

.form-wrapper {
  margin-bottom: 25px;
}

.filter-wrapper .fieldset-content {
  height: auto;
}

.form-type-select {
  min-height: 25px;
}

fieldset.filter-wrapper.form-wrapper {
  padding-top: 0;
  margin-bottom: 0;
}

fieldset.filter-wrapper.form-wrapper .fieldset-wrapper {
  margin-top: 0;
}

.page-content .form-item .description {
  right: inherit;
  left: 10%;
}

/**
 * Media module
 */
.media-provider {
  margin: 0 10px 10px 20px;
}

/**
 * TinyMCE Content editing
 */
#tinymce {
  padding: .75em;
}
#tinymce p {
  margin-bottom: 1.5em;
}
#tinymce ul,
#tinymce ul li {
  list-style-type: disc;
  list-style-position: inside;
}
#tinymce ol,
#tinymce ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
#tinymce ul,
#tinymce ol {
  margin-bottom: 1.5em;
}