/* This file will hold the main styles for your website. */

/**
 * General styles
 */
 
 
/**
 * Basic layout styles
 */
#section-header,
#section-footer {
  background-color: #646464;
  color: #FFFFFF;
}

#section-header a,
#section-footer a {
  color: #FFFFFF;
}

#section-header {
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px #999999;
}

#section-footer {
  margin-top: 10px;
  padding-top: 10px;
}

/**
 * Menus
 */
.region-user-second .block-menu h2.block-title {
  display: none;
}

.region-user-second .block-menu ul.menu {
  list-style: none;
}

.region-user-second .block-menu ul.menu li {
  display: block;
  float: right;
}

.region-header-second .block-menu h2.block-title {
  display: none;
}

.region-header-second .block-menu ul.menu {
  list-style: none;
}

.region-header-second .block-menu ul.menu li {
  display: block;
  float: right;
}

.region-footer-second .block-menu h2.block-title {
  display: none;
}

.region-footer-second .block-menu ul.menu {
  list-style: none;
}

.region-footer-second .block-menu ul.menu li {
  display: block;
  float: right;
}

/**
 * Boxes controls
 */
.boxes-box-controls {
  display: none;
}

/**
 * Front specific.  WTF, even a redirect (access denied) gets
 * handled as front page.
 */
.context-front h1#page-title,
.context-front .node-links,
.context-front .block-system-main {
  display: none;
}

.context-front.page-user h1#page-title,
.context-front.page-user .node-links,
.context-front.page-user .block-system-main,
.context-front.page-toboggan-denied h1#page-title,
.context-front.page-toboggan-denied .node-links,
.context-front.page-toboggan-denied .block-system-main {
  display: inherit;
}

.context-front.page-user #zone-content section,
.context-front.page-toboggan-denied #zone-content section {
  display: none;
}

/**
 * Front Slider
 */
.block-views-front-slider-block h2.block-title {
  display: none;
} 

#views_slideshow_cycle_main_front_slider-block {
  background-color: #B2B2B2;
  padding: 10px;
  min-height: 280px;
  box-shadow: 0px 5px 5px #999999;
}

#views_slideshow_cycle_teaser_section_front_slider-block {
  background-color: #FFFFFF;
  min-height: 290px;
}

#views_slideshow_cycle_main_front_slider-block .views-field-title {
  width: 200px;
  float: right;
}

#views_slideshow_cycle_main_front_slider-block .views-row {
  width: 940px;
}

/**
 * Callout boxes
 */
.block-boxes-community-callout,
.block-boxes-project-callout,
.block-boxes-research-callout {
  height: 150px;
  padding: 10px;
  background-color: #CCCCCC;
  box-shadow: 0px 5px 5px #999999;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.block-boxes-community-callout h2,
.block-boxes-project-callout h2,
.block-boxes-research-callout h2 {
  opacity: 0.7;
}

.block-boxes-project-callout {
  background-color: #095573;
  /* light 84abba */
}
.block-boxes-community-callout {
  background-color: #7d418c;
  /* light bfa0c7 */
}
.block-boxes-research-callout {
  background-color: #0e8440;
  /* light 86c3a0 */
}

/**
 * Region Second blocks
 */
.region-sidebar-second .block {
  background-color: #B2B2B2;
  padding: 10px;
  box-shadow: 0px 5px 5px #999999;
}

.region-sidebar-second .block h2.block-title {
  background-color: #B2B2B2;
  color: #FFFFFF;
}

.region-sidebar-second .block .content {
  background-color: #FFFFFF;
  padding: 10px;
}

/**
 * Twitter block
 */
#twitter_block_results .twitter_block {
  clear: both;
}

#twitter_block_results .twitter_block_user a {
  display: none;
}

#twitter_block_results .tweet_text {
  float: right;
  width: 200px;
}

#twitter_block_results .item-list ul {
  margin: 0;
}