/* This file will hold the main styles for your website. */

/**
 * Colors
 *
 * #F57E29 - Link orange
 * #F15C22 - Link:hover orange
 * #FCB034 - Widget header orange
 * #6EB43F - Widget header green
 * #002D62 - Dark blue page title
 * #646464 - Drak grey rgb(100, 100, 100)
 * #EEEEEE - Light, light grey.
 *
 * Old colors:
 *
 * #1D4877 - Dark Blue
 * #1C7CB7 - Medium Blue
 * #699ACA - Light Blue
 * #597C2C - Dark Green
 * #94AF6F - Light Green
 * #B3B8BD - Cool Grey
 * #666666 - Medium Grey
 * #333333 - Dark Grey
 */

/**
 * General styles
 */
h1, h2, h3, h4, h5, h6,
body  {
  color: #222222;
  font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

a,
a:link,
a:visited {
  color: #F57E29;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #F15C22;
}

/**
 * Header
 */
#zone-header {
  margin-bottom: 30px;
  box-shadow: 0px 5px 5px #999999;
  background: #002D62 url('../images/bg-header-nav.png') top left repeat-x;
  height: 60px;
  /* Change width because of how the grid handles margins */
  width: 940px;
}

#region-branding {
  position: absolute;
  padding: 3px 0;
}

#region-branding-second {
  float: right;
  margin:15px 0 25px 0 !important;
}

.branding-data {
  padding: 10px 0;
  width: 380px;
}

.site-name-slogan,
.site-name-slogan a {
  color: #002D62;
  width: 230px;
  display: none;
}
.old-logo .site-name-slogan a {
  display: block;
}

.site-slogan {
  font-size: 13px;
}

#region-branding-second {
  height: 70px;
  margin:15px 0 25px 0 !important;
}

/**
 * User Menus
 */
#section-header .block-menu h2.block-title {
  display: none;
}

#section-header .block-menu ul.menu {
  list-style: none;
}

#section-header .block-menu ul.menu li {
  display: block;
  float: right;
}

/**
 * Main nav menu
 */

.region-header-second {
	margin:15px 0 25px 0;
}
.region-header-second .block-menu h2.block-title,
.region-header-second .block-nice-menus h2.block-title {
  display: none;
}

.region-header-second .block-menu ul.menu,
.region-header-second .block-nice-menus ul.nice-menu {
  list-style: none;
  margin-top: 15px;
  float: right;
}

.region-header-second .block-menu ul.menu li,
.region-header-second .block-nice-menus ul.nice-menu li {
  display: block;
  float: right;
  margin: 0;
  padding: 0 5px 2px 0;
  background: none;
  border: none;
}

.region-header-second .block-menu ul.menu li a,
.region-header-second .block-nice-menus ul.nice-menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}

.region-header-second .block-menu ul.menu li a:hover,
.region-header-second .block-menu ul.menu li a:focus,
.region-header-second .block-menu ul.menu li a.active,
.region-header-second .block-nice-menus ul.nice-menu li a:hover,
.region-header-second .block-nice-menus ul.nice-menu li a:active,
.region-header-second .block-nice-menus ul.nice-menu li a:focus {
  -webkit-transition: 500ms linear 0s;  
  -moz-transition: 500ms linear 0s;  
  -o-transition: 500ms linear 0s;  
  transition: 500ms linear 0s;  
  outline: 0 none;
  text-shadow: -1px 1px 8px #FCFCFC, 1px -1px 8px #FFFFFF;  
}
.region-header-second .block-nice-menus ul.nice-menu li ul {
  margin-top: 5px;
  padding: 5px 0;
  background-color: #646464;
  background-color: rgb(100, 100, 100);
  background-color: rgba(100, 100, 100, 0.9);
  border: none;
  box-shadow: 0px 5px 5px #999999;
}
.region-header-second .block-nice-menus ul.nice-menu li ul li a {
  font-size: 1em;
  padding: 2px 10px;
}
.region-header-second .block-nice-menus ul.nice-menu li ul li {
  border-bottom: solid 1px #FFFFFF;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}
.region-header-second .block-nice-menus ul.nice-menu li ul li.last {
  border-bottom: none;
}

/**
 * Search top
 */
.block-search-form {
  background-color: #B3B8BD;
  padding: 3px;
  width: 300px;
  float: right;
}

.block-search-form .form-type-textfield input {
  border: none;
  height: 28px;
  width: 266px;
}

.block-search-form #edit-actions input {
  margin: 0;
  padding: 0;
  height: 28px;
  width: 28px;
  background: none;
  border-radius: 0;
  border: none;
  float: right;
  background-image: url('../images/search.png');
  color: transparent;
}

/**
 * Social links
 */
.social-container {
  width: 150px;
  float: left;
}
.social-container a {
  display: block;
  width: 38px;
  height: 40px;
  margin: -2px 2px;
  float: right;
  background: transparent url('../images/facebook-twitter-sprite.png');
  background-repeat: no-repeat;
}
.social-container a.social-facebook {
  background-position: 0px 0px;
}
.social-container a.social-facebook:hover,
.social-container a.social-facebook:focus {
  background-position: 0 -40px;
}
.social-container a.social-twitter {
  background-position: -38px 0;
}
.social-container a.social-twitter:hover,
.social-container a.social-twitter:focus {
  background-position: -38px -40px;
}
.social-container a.social-google {
  background: transparent url('../images/google.png') top left no-repeat;
}
.social-container a.social-google:hover,
.social-container a.social-google:focus {
  background-image: url('../images/google-active.png');
}

/**
 * Footer
 * 
 * The wrappers for the grids work in an odd way if
 * we want to have a consistent background that aligns
 * with regions in other zones.
 */
#zone-footer {
  background-color: #646464;
  color: #FFFFFF;
  /* Change width because of how the grid handles margins */
  width: 940px;
  padding-top: 10px;
  min-height: 70px;
}
#region-footer-first {
  margin-left: 0;
  padding-left: 10px;
}
#region-footer-second {
  margin: 0;
  padding-right: 10px;
  width: 450px;
}
#zone-footer a {
  color: #FFFFFF;
}

/**
 * Footer menu
 */
.region-footer-second .block-menu h2.block-title {
  display: none;
}

.region-footer-second .block-menu ul.menu {
  list-style: none;
}

.region-footer-second .block-menu ul.menu li {
  display: block;
  text-align: right;
}

/**
 * The following should not be necessary, but is.
 */
#region-user-second,
#region-header-second {
  float: right;
}

/**
 * Boxes controls
 */
.boxes-box-controls {
  display: none;
}

/**
 * Front page
 *
 * Hide the node stuff for non-administrators.
 * This isn't a security thing.
 */
.front h1#page-title, 
.front .region-content .tabs,
.front .region-content .block-system-main {
  display: none;
}
.front.user-role-administrator h1#page-title, 
.front.user-role-administrator .region-content .tabs,
.front.user-role-administrator .region-content .block-system-main {
  display: block;
}

/**
 * Illustration
 */
.front .region-top {
  padding-top: 119px;
  background: transparent url('../images/home-illustration.png') top center no-repeat;
}

/**
 * Front Slider
 */
#views_slideshow_controls_text_front_slider-block {
  /* Hide for now */
  display: none;
}
 
.block-views-front-slider-block h2.block-title {
  display: none;
} 

#views_slideshow_cycle_main_front_slider-block {
  background-color: #333333;
  padding: 10px;
  min-height: 280px;
  box-shadow: 0px 5px 5px #999999;
}

#views_slideshow_cycle_teaser_section_front_slider-block {
  background-color: #FFFFFF;
  min-height: 290px;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body {
  width: 285px;
  float: right;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body .slider-inline-title {
  font-size: 1.5em;
  border-bottom: 1px dotted #B3B8BD;
  margin: 1em 0;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body .slider-inline-title a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body .slider-inline-body {
  overflow: hidden;
  height: 115px;
}

#views_slideshow_cycle_main_front_slider-block .views-row {
  width: 915px;
}

.block-front-slider-block .content {
  margin-bottom: 20px;
}

#views_slideshow_cycle_main_front_slider-block .views-row {
  border: none;
  margin: 0;
}

/**
 * Callout boxes
 */
.block-boxes-community-callout,
.block-boxes-project-callout,
.block-boxes-research-callout {
  height: 150px;
  padding: 10px;
  background-color: #CCCCCC;
  box-shadow: 0px 5px 5px #999999;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.block-boxes-community-callout h2,
.block-boxes-project-callout h2,
.block-boxes-research-callout h2 {
  opacity: 0.7;
}

.block-boxes-project-callout {
  background-color: #095573;
  /* light 84abba */
}
.block-boxes-community-callout {
  background-color: #7d418c;
  /* light bfa0c7 */
}
.block-boxes-research-callout {
  background-color: #0e8440;
  /* light 86c3a0 */
}

.block-menu-front-page h2.block-title {
  display: none;
}
.block-menu-front-page .content ul,
.block-menu-front-page .content ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * Region Second blocks
 */
.region-sidebar-second .block {
  margin-bottom: 15px;
}

.region-sidebar-second .block a {
  color: #6EB43F;
}

.region-sidebar-second .block h2.block-title {
  background-color: #6EB43F;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
}

.region-sidebar-second .block .content {
  background-color: #FFFFFF;
  padding: 10px 10px 0 10px;
}

.region-sidebar-second ul li.leaf {
  list-style: none;
  padding-left: 1em;
}

.region-sidebar-second ul.menu {
  margin-left: 10px;
}

.region-sidebar-second .block .views-field-title a {
  font-size: 1em;
}
a#front-page-menu-item-explore,
a#front-page-menu-item-implement,
a#front-page-menu-item-interact {
  width: 580px;
  height: 190px;
  color: white;
  display: block;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding: 60px 20px 0 20px;
}
a#front-page-menu-item-explore {
  background: transparent url('../images/button-explore.png') top left no-repeat;
}
a#front-page-menu-item-implement {
  background: transparent url('../images/button-implement.png') top left no-repeat;
}
a#front-page-menu-item-interact {
  background: transparent url('../images/button-interact.png') top left no-repeat;
}

.region-sidebar-second .openlayers-views-map {
  margin-right: -10px;
  margin-left: -10px;
}

/**
 * Twitter block
 */
#twitter_block_results .twitter_block {
  clear: both;
}

#twitter_block_results .twitter_block_user a {
  display: none;
}

#twitter_block_results .tweet_text {
  float: right;
  width: 200px;
}

#twitter_block_results .item-list ul {
  margin: 0;
}

/**
 * Main content
 */
h1#page-title {
  color: #002D62;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.region-content .tabs.primary {
  margin-top: 2em;
  margin-bottom: 2em;
}

/**
 * Administration menu blocks
 */
.region-sidebar-second .block-menu-administration h2.block-title,
.region-sidebar-second .block-menu-innovation-advisor h2.block-title,
.region-sidebar-second .block-menu-user-content-menu h2.block-title {
  background-color: #666666;
}

.region-sidebar-second .block-menu-administration div.content,
.region-sidebar-second .block-menu-innovation-advisor div.content,
.region-sidebar-second .block-menu-user-content-menu div.content {
  background-color: #B3B8BD;
  padding-bottom: 10px;
}

.region-sidebar-second .block-menu-administration a,
.region-sidebar-second .block-menu-innovation-advisor a,
.region-sidebar-second .block-menu-user-content-menu a {
  color: #666666;
}

.region-sidebar-second .block-menu-administration,
.region-sidebar-second .block-menu-innovation-advisor {
  margin-bottom: 0;
}

.region-sidebar-second .block-menu-administration ul li,
.region-sidebar-second .block-menu-innovation-advisor ul li,
.region-sidebar-second .block-menu-user-content-menu ul li {
  list-style: none;
}

.region-sidebar-second .block.incil-accordian-closed h2,
.region-sidebar-second .block.incil-accordian-open h2 {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 270px 5px;
}

.region-sidebar-second .block.incil-accordian-closed h2 {
  background-image: url('../images/arrow-accordion-up.png');
  cursor: pointer;
}

.region-sidebar-second .block.incil-accordian-open h2 {
  background-image: url('../images/arrow-accordion-down.png');
}

/**
 * Tabs
 */
div.tabs ul.tabs li {
  float: right;
}

ul.primary li a {
  color: #666666;
  background-color: #B3B8BD;
  padding: .2em 1em 0 1em;
}

div.tabs ul.tabs li {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-right: 0;
}

/**
 * General Views
 */
.view table {
  border: none;
}

/**
 * View Filters
 */
.view-filters {
  background-color: #EEEEEE;
  padding: 10px;
  margin-bottom: 20px;
}
.view-filters input.form-text {
  max-width: 150px;
}

/**
 * Common views fields
 */
.views-field-field-content-image,
.views-field-field-profile-image {
  float: left;
  margin: 0 10px 10px 0;
}

.views-field-title a {
  color: #002D62;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

.views-row {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3B8BD; 
}
.views-row.views-row-last {
  border: none;
}
.views-field-created {
  color: #B3B8BD;
}
.views-field-name .views-label-name {
  color: #B3B8BD;
}
.views-field-changed {
  color: #B3B8BD;
}
.views-field-body p {
  margin-bottom: 5px;
}
.views-field-view-node {
  text-align: right;
  text-transform: uppercase;
}
.views-field-field-full-name {
  text-transform: uppercase;
  font-weight: bold;
}
.views-field-field-innovation-topic,
.views-field-field-tool-category {
  float: right;
  text-transform: uppercase;
}
/* We use this field just for icons/visual indication */
.views-field-type {
  display: none;
}
.views-label {
  font-weight: bold;
  display: inline;
}

/**
 * Views exceptions
 */
.block-innovation-topics-block .views-row {
  border-bottom: none; 
}

.views-field-field-country .field-content {
  display: inline;
}

.region-sidebar-second .views-row.views-row-last {
  margin-bottom: 0;
}

.view-author-block .views-field-uid {
  text-transform: uppercase;
}

.view-featured-user-block .views-field-body {
  clear: left;
}

/**
 * Country list
 */
.view-country-list td {
  width: 50%;
}

/**
 * Blocks in content
 */
.region-content .block h2.block-title {
  background-color: #B3B8BD;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 10px;
}

.region-content .block {
  margin-bottom: 10px;
}

.region-content ul {
  padding-left: 1.5em;
}

/**
 * Forms
 */
/* This also includes node links for ease of defintion */
.node-links ul li a,
.comment-links ul li a,
.node-links ul li a:hover,
.comment-links ul li a:hover,
button, 
input[type="reset"], 
input[type="submit"], 
input[type="button"]
input[type="reset"]:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent url('../images/bg-button.png') top left repeat-x;
  cursor: pointer;
  color: #FFFFFF;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: none;
  width: auto;
  text-transform: uppercase;
  border: none;
}

/**
 * Nodes and fields
 */
h2.node-title {
  color: #002D62;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

h2.node-title a {
  color: #002D62;
}

.node .field-name-field-content-image {
  float: left;
  margin: 0 10px 10px 0;
}

article.node,
div.node {
  margin-bottom: 15px;
}

.page-node .node .field {
  margin-bottom: 1em;
}

/* hide for now (not good way to do this) */
ul li.statistics_counter {
  display: none;
}

.node-links {
  margin-top: 20px;
}

.field-name-field-images .field-item {
  float: left;
  margin: 0 10px 10px 0;
}

.submitted,
.title-submitted {
  color: #B3B8BD;
}
/* Since we put the submitted with the page */
.page-node .submitted {
  display: none;
}

.field-name-field-geometry {
  clear: left;
}

/**
 * Node teasers
 */
.node-teaser h2.node-title {
  margin-bottom: 0;
}
.node-teaser .submitted {
  margin-bottom: 20px;
}

/**
 * Pager
 *
 * This is difficult to style correctly.
 */
ul.pager {
  border: none;
  border-top: 1px dotted #B3B8BD;
  background: transparent;
  border-radius: 0;
  height: 40px;
}
.item-list ul.pager li.pager-previous,
.item-list ul.pager li.pager-current,
.item-list ul.pager li.pager-next {
  top: 10px;
}
.item-list ul.pager li.pager-previous {
  right: 100px;
  position: absolute;
}
.item-list ul.pager li.pager-current {
  right: 50px;
  position: absolute;
}
.item-list ul.pager li,
.item-list ul.pager li.pager-previous,
.item-list ul.pager li.pager-next {
  border: none;
  background: none;
}
.item-list ul.pager li.pager-current {
  background: #666666;
}
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-next a,
.view .date-nav-wrapper ul li.date-next a,
.view .date-nav-wrapper ul li.date-prev a {
  background: none;
  font-weight: bold;
  color: #F57E29;
  font-size: 1.5em;
  padding-top: 0;
}
.region-sidebar-second .item-list ul.pager li.pager-previous a,
.region-sidebar-second .item-list ul.pager li.pager-next a,
.region-sidebar-second .view .date-nav-wrapper ul li.date-next a,
.region-sidebar-second .view .date-nav-wrapper ul li.date-prev a {
  color: #6EB43F;
  margin-top: -10px;
}
.view .date-nav-wrapper ul li.date-next,
.view .date-nav-wrapper ul li.date-prev {
  background: none;
}
.view .date-nav-wrapper ul {
  border: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  padding-top: 0;
}

/**
 * Calendar
 */
.calendar-calendar td.empty {
  color: #CCCCCC;
}
.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full td.date-box.today {
  border-color: #FCB034;
}
.region-content .view-id-event_calendar .date-nav-wrapper .date-heading h3 {
  background-color: #B3B8BD;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 10px;
  float: none;
  width: auto;
  margin-bottom: 35px;
}
.region-content .view .date-nav-wrapper ul {
  top: 22px;
}
.region-content .view .date-nav-wrapper ul li.date-prev {
  right: inherit;
  left: 0;
}

/**
 * Profiles
 */
.field-name-field-profile-image {
  float: left;
  margin: 0 10px 10px 0;
}
.field-name-field-profile-image .field-label {
  display: none;
}
.field-name-field-bio {
  clear: left;
}
.region-content .profile h3 {
  background-color: #B3B8BD;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 10px;
  border: none;
}
.field-name-field-country-expertise .field-item,
.field-name-field-expertise .field-item {
  padding: 0 10px 10px 0;
  display: inline;
}
.profile .field {
  margin-bottom: 1em;
}
.field-name-field-full-name {
  text-transform: uppercase;
  font-weight: bold;
}

/**
 * Comments
 */
.comment-form {
  background-color: #EEEEEE;
  padding: 10px;
}

.comment-preview,
.comment-form .node {
  background-color: #FFFFFF;
  padding: 10px;
}

#comments h2.title {
  background-color: #FCB034;
  color: white;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
}

#comments .field-name-field-profile-image .field-label {
  display: none;
}

#comments .field-name-field-profile-image {
  margin: 0 10px 5px 0;
}

#comments .new {
  display: none;
}


#comments header h3 {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

#comments footer {
  color: #B3B8BD;
}

.comment-links ul li {
  float: right;
  padding: 0;
}

#comments article {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #B3B8BD; 
}

#comments .indented {
  margin: 0;
}

/**
 * Tope region
 */
.region-top h2.block-title {
  color: #002D62;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.region-top {
  margin-bottom: 15px;
}

/**
 * Content/node/profile types for icons
 */
/* Tool */
.view-front-slider .field-content.node-type-tool,
.node-type-tool.views-row,
.node-tool.node-teaser {
  background: transparent url('../images/content-icons/sm_shovel.png') top right no-repeat;
}
.view-front-slider .field-content.node-type-tool .slider-inline-title,
.node-type-tool .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-tool.node-teaser h2.node-title {
  padding-right: 40px;
}
.node-type-tool h1#page-title {
  background: transparent url('../images/content-icons/sm_shovel.png') center right no-repeat;
  padding-right: 40px;
}

/* Project */
.view-front-slider .field-content.node-type-project,
.node-type-project.views-row {
  background: transparent url('../images/content-icons/sm_toolbox.png') top right no-repeat;
}
.view-front-slider .field-content.node-type-project .slider-inline-title,
.node-type-project .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-type-project h1#page-title {
  background: transparent url('../images/content-icons/sm_toolbox.png') center right no-repeat;
  padding-right: 40px;
}

/* Country */
.node-type-country.views-row {
  background: transparent url('../images/content-icons/sm_globe.png') top right no-repeat;
}
.node-type-country .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-type-country h1#page-title,
.region-top h2.block-title {
  background: transparent url('../images/content-icons/sm_globe.png') center right no-repeat;
  padding-right: 40px;
}

/* Blog */
.view-front-slider .field-content.node-type-blog_post,
.node-type-blog_post.views-row,
.node-blog-post.node-teaser {
  background: transparent url('../images/content-icons/sm_bubbles.png') top right no-repeat;
}
.view-front-slider .field-content.node-type-blog_post .slider-inline-title,
.node-type-blog_post .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-blog-post.node-teaser h2.node-title {
  padding-right: 40px;
}
.node-type-blog-post h1#page-title {
  background: transparent url('../images/content-icons/sm_bubbles.png') center right no-repeat;
  padding-right: 40px;
}

/* Event */
.view-front-slider .field-content.node-type-event,
.node-type-event.views-row {
  background: transparent url('../images/content-icons/sm_check.png') top right no-repeat;
}
.view-front-slider .field-content.node-type-event .slider-inline-title,
.node-type-event .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-type-event h1#page-title {
  background: transparent url('../images/content-icons/sm_check.png') center right no-repeat;
  padding-right: 40px;
}

/* Pilot */
.view-front-slider .field-content.node-type-pilot,
.node-type-pilot.views-row {
  background: transparent url('../images/content-icons/sm_pen.png') top right no-repeat;
}
.view-front-slider .field-content.node-type-pilot .slider-inline-title,
.node-type-pilot .views-field-title {
  padding-right: 40px;
  min-height: 2.5em;
}
.node-type-pilot h1#page-title {
  background: transparent url('../images/content-icons/sm_pen.png') center right no-repeat;
  padding-right: 40px;
}

/* Profile */
.view-front-slider .field-content.profile-type-profile,
.profile-type-profile.views-row {
  background: transparent url('../images/content-icons/sm_person.png') top right no-repeat;
}
.view-front-slider .field-content.profile-type-profile .slider-inline-title,
.profile-type-profile .views-field-title,
.profile-type-profile .views-field-field-full-name {
  padding-right: 40px;
  min-height: 2.5em;
}
.profile-type-profile h1#page-title,
.page-user h1#page-title {
  background: transparent url('../images/content-icons/sm_person.png') center right no-repeat;
  padding-right: 40px;
}

/**
 * Countries page
 */
.page-node-100 h1#page-title {
  display: none;
}

/**
 * Experts view
 */
.views-field-user-1 {
  text-transform: uppercase;
  float: right;
}
.views-field-field-country-expertise,
.views-field-field-expertise {
  margin-left: 110px;
}
.views-field-field-country-expertise .field-content,
.views-field-field-expertise .field-content {
  display: inline;
}