/* This file will hold the main styles for your website. */

/**
 * Colors
 *
 * #1D4877 - Dark Blue
 * #1C7CB7 - Medium Blue
 * #699ACA - Light Blue
 * #597C2C - Dark Green
 * #94AF6F - Light Green
 * #B3B8BD - Cool Grey
 * #333333 - Dark Grey
 */

/**
 * General styles
 */
h1, h2, h3, h4, h5, h6,
body  {
  color: #222222;
  font-family: Signika, Verdana, Helvetica, Arial, sans-serif;
}

a,
a:link,
a:visited {
  color: #597C2C;
}

/**
 * Header
 */
#zone-header {
  margin-bottom: 30px;
  box-shadow: 0px 5px 5px #999999;
  background: #1D4877 url('../images/bg-header-nav.png') top left repeat-x;
  height: 60px;
  /* Change width because of how the grid handles margins */
  width: 940px;
}

#region-branding {
  position: absolute;
  margin-left: -10px;
  padding: 10px 0;
}

#region-branding-second {
  float: right;
}

.branding-data {
  background-color: white;
  padding: 10px 0;
  width: 380px;
}

.site-name-slogan,
.site-name-slogan a {
  color: #1D4877;
  width: 230px;
}

.site-slogan {
  font-size: 13px;
}

#region-branding-second {
  height: 70px;
  margin-top: 15px;
}

/**
 * User Menus
 */
#section-header .block-menu h2.block-title {
  display: none;
}

#section-header .block-menu ul.menu {
  list-style: none;
}

#section-header .block-menu ul.menu li {
  display: block;
  float: right;
}

/**
 * Main nav menu
 */
.region-header-second .block-menu h2.block-title {
  display: none;
}

.region-header-second .block-menu ul.menu {
  list-style: none;
  margin-top: 15px;
}

.region-header-second .block-menu ul.menu li {
  display: block;
  float: right;
}

.region-header-second .block-menu ul.menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}

.region-header-second .block-menu ul.menu li a:hover,
.region-header-second .block-menu ul.menu li a:focus,
.region-header-second .block-menu ul.menu li a.active {
  -webkit-transition: 500ms linear 0s;  
  -moz-transition: 500ms linear 0s;  
  -o-transition: 500ms linear 0s;  
  transition: 500ms linear 0s;  
  outline: 0 none;
  text-shadow: -1px 1px 8px #FCFCFC, 1px -1px 8px #FFFFFF;  
}

/**
 * Search top
 */
.block-search-form {
  background-color: #B3B8BD;
  padding: 3px;
  width: 300px;
  float: right;
}

.block-search-form .form-type-textfield input {
  border: none;
  height: 28px;
  width: 266px;
}

.block-search-form #edit-actions input {
  margin: 0;
  padding: 0;
  height: 28px;
  width: 28px;
  background: none;
  border-radius: 0;
  border: none;
  float: right;
  background-image: url('../images/search.png');
  text-indent: 9999999px;
}

/**
 * Social links
 */
.social-container {
  width: 150px;
  float: left;
}
.social-container a {
  display: block;
  width: 35px;
  height: 36px;
  margin: 0 2px;
  float: right;
}
.social-container a.social-facebook {
  background: transparent url('../images/facebook.png') top left no-repeat;
}
.social-container a.social-facebook:hover,
.social-container a.social-facebook:focus {
  background-image: url('../images/facebook-active.png');
}
.social-container a.social-google {
  background: transparent url('../images/google.png') top left no-repeat;
}
.social-container a.social-google:hover,
.social-container a.social-google:focus {
  background-image: url('../images/google-active.png');
}
.social-container a.social-twitter {
  background: transparent url('../images/twitter.png') top left no-repeat;
}
.social-container a.social-twitter:hover,
.social-container a.social-twitter:focus {
  background-image: url('../images/twitter-active.png');
}

/**
 * Footer
 */

#zone-footer {
  background-color: #646464;
  color: #FFFFFF;
  /* Change width because of how the grid handles margins */
  width: 940px;
}

#zone-footer a {
  color: #FFFFFF;
}

#section-footer {
  margin-top: 10px;
  padding-top: 10px;
}

/**
 * Footer menu
 */
.region-footer-second .block-menu h2.block-title {
  display: none;
}

.region-footer-second .block-menu ul.menu {
  list-style: none;
}

.region-footer-second .block-menu ul.menu li {
  display: block;
  float: right;
}

/**
 * The following should not be necessary, but is.
 */
#region-user-second,
#region-header-second {
  float: right;
}

/**
 * Boxes controls
 */
.boxes-box-controls {
  display: none;
}

/**
 * Illustration
 */
.front .region-top {
  padding-top: 120px;
  background: transparent url('../images/home-illustration.png') top center no-repeat;
}

/**
 * Front Slider
 */
.block-views-front-slider-block h2.block-title {
  display: none;
} 

#views_slideshow_cycle_main_front_slider-block {
  background-color: #333333;
  padding: 10px;
  min-height: 280px;
  box-shadow: 0px 5px 5px #999999;
}

#views_slideshow_cycle_teaser_section_front_slider-block {
  background-color: #FFFFFF;
  min-height: 290px;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body {
  width: 285px;
  float: right;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body .slider-inline-title {
  font-size: 1.5em;
  border-bottom: 1px dotted #B3B8BD;
  margin: 1em 0;
}

#views_slideshow_cycle_main_front_slider-block .views-field-body .slider-inline-title a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#views_slideshow_cycle_main_front_slider-block .views-row {
  width: 915px;
}

/**
 * Callout boxes
 */
.block-boxes-community-callout,
.block-boxes-project-callout,
.block-boxes-research-callout {
  height: 150px;
  padding: 10px;
  background-color: #CCCCCC;
  box-shadow: 0px 5px 5px #999999;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.block-boxes-community-callout h2,
.block-boxes-project-callout h2,
.block-boxes-research-callout h2 {
  opacity: 0.7;
}

.block-boxes-project-callout {
  background-color: #095573;
  /* light 84abba */
}
.block-boxes-community-callout {
  background-color: #7d418c;
  /* light bfa0c7 */
}
.block-boxes-research-callout {
  background-color: #0e8440;
  /* light 86c3a0 */
}

/**
 * Region Second blocks
 */
.region-sidebar-second .block {
  margin-bottom: 15px;
}

.region-sidebar-second .block a {
  color: #94AF6F;
}

.region-sidebar-second .block h2.block-title {
  background-color: #94AF6F;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
}

.region-sidebar-second .block .content {
  background-color: #FFFFFF;
  padding: 10px;
}

/**
 * Twitter block
 */
#twitter_block_results .twitter_block {
  clear: both;
}

#twitter_block_results .twitter_block_user a {
  display: none;
}

#twitter_block_results .tweet_text {
  float: right;
  width: 200px;
}

#twitter_block_results .item-list ul {
  margin: 0;
}

/**
 * Main content
 */
h1#page-title {
  background-color: #B3B8BD;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.6em;
}